header {
    background-color: black;
    position: fixed;
    width: 100vw;
    top: 0;
    left: 0;
    z-index: 4;
}

a:hover {
    color: powderblue;
}

a {
    color: blue;
    text-decoration: none;
    transition: color 0.3s;

}

main {
    margin-top: 80px;
}

ul {
    display: flex;
    justify-content: space-around;
}

li {
    list-style: none;
    transition: transform 0.3s;

}

li:hover {
    transform: translateX(10px);
}

body {
    background-color: teal;
}


.cube  {
    width: 300px;
    height: 300px;
    background-color: black;
    position: relative;
}

.inner-cube {
    width: 100px;
    height: 100px;
    background-color: blue;
    position: absolute;
    top: 10px;
    border-radius: 2px;
    right: 10px;
    transition: transform 1.5s;
    transform-origin:bottom left;

}

.inner-cube:hover {
    transform: rotate(90deg);
    background-color: cyan;
}


h1, h2 , P {
    text-align: center;
}


.outer-cube {
    display: flex;
    align-items: center;
    justify-content: center;
}



#grad {
    background-image: linear-gradient(to right, red , yellow);
  }


.inner-kubs:hover {
    transform: matrix(0, 1, 1, 0, 0, 0);
    background-color: yellow;
}


.outer-kubs {
    display: flex;
    align-items: center;
    justify-content: center;
}


.inner-kubs {
    width: 100px;
    height: 100px;
    background-color: red;
    border-radius: 2px;
    position: absolute;
    top: 10px;
    right: 10px;
    transition: all 1.5s;
    /*transition: color 3s;*/
    /* FADE KRASAS KAD APGRIEZAS*/
    /* OTRA PUSE CITĀ KRASĀ*/

}

.kubs  {
    width: 300px;
    height: 300px;
    background-color: black;
    position: relative;
}